<ul>
  <% feeds.each(function(feed) { %>
    <li>
      <a href="#/feeds/<%= feed.id %>"><%=feed.escape('title')%></a>
      <button class="delete" data-id="<%= feed.id %>">Delete</button>
    </li>
  <% }); %>
</ul>